# Игнорировать папки сборки и исполняемые файлы
/dist/
/build/

# Игнорировать файлы Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.spec

# Игнорировать временные файлы
*.tmp
*.log

# Игнорировать IDE-файлы
.vscode/
.idea/